ChangeLog.md
cp2021tStack.cabal
LICENSE
package.yaml
README.md
stack.yaml
stack.yaml.lock
Setup.hs
latex.sh
.stack-work
cp2021t.aux
cp2021t.idx
cp2021t.log
cp2021t.out
cp2021t.ptb
cp2021t.tex
cp2021t.bbl
cp2021t.blg
cp2021t.ilg
cp2021t.ind
